body{
    margin: 400px;
    justify-content: center;
    background-image: url(/Countdown/Assets/Imgs/screamgh.jpeg);
    


}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;

}
h1,title{
    font-family: 'Creepster', cursive;
    color: rgb(232, 7, 7);
}

