
body{
    background-color: lightblue;
}
#Layer_1 {
    fill:currentColor;
}
#fishy1 {
    color: gold;
    transition: 1.5s;
    transition-delay: 0.75s;
    transform-origin: 50% 50%;
    display: block;
    width: 60%;
    margin: 100px auto;
}

#fishy1:hover {
    transform:
    rotate3d(1, 0.5, 1.5, 90deg)
    scale3d(1.5, 1.5, 5)
    ;
    color: crimson;
}

