body {
    height: 1500px;
}


nav {
        background-color: rgb(185, 141, 225);
        width: 100%;
        padding: 10px;
}

a {
    text-decoration: none;
}
a:hover{
    background-color:aquamarine;
    padding: 5px;

}

ul {
 display:flex; 
}

li {
    padding: 13px;
    list-style:none;
}

.dropdown-menu{
    position: absolute;
    width: 20%;
    background-color: rgb(187, 225, 244);
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding:15px;
    border: 2px solid rgb(51, 112, 145);
    opacity: 0;
    transition: 0.5s;
    border-radius: 5px;
}


.dropdown:hover .dropdown-menu{
    opacity: 1;

}

@media only screen and (max-width:768px) {
    ul{
        flex-direction: column;
    }
}


   





