
body{
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight:  400px; 
    margin: 50px;
    font-family: 'Poppins', sans-serif;
}
table{
    border-bottom: solid 3px rgb(36, 137, 117);
    border-collapse: collapse;
    width: 100px;
}
table{
    border-collapse: collapse;
    width: 100px;
    border-radius: 5px;
}
th, td{
    text-align: left;
    padding: 8px;
}
th{
    background-color: rgb(36, 137, 112);
    color: white;
}
tr:nth-child(even){background-color: rgb(243, 243, 243);}







