#areas{
    display: grid;
    width: 100px;
    height: 250px;
    gap: 10px;
    grid-template-areas:"header header"
                         "nav  main"
                         "nav footer";
    grid-template: coloumns 5px;

     
}
header{
    grid-area: header;
    background-color: rgb(233, 124, 8);
    grid-row: nav;
}
nav{
    grid-area: header;
    background-color: rgb(224, 175, 132);
    grid-row: nav;
}
main{
    grid-area: header;
    background-color: rgb(232, 89, 63);
    grid-row: nav;
    padding: 12px;
}
footer{
    background-color: rgb(164, 38, 122);
}
